<p>Hello {user},</p>

<p>This email was sent to you upon your request to go application your User Name {}! </p>
<p>You can go from <a href="{link}">here</a></p>
<br />
<p>Regards,</p>
<p>
  Resort Team
  <br/>
  Resort Solutions 
</p>