<p>Hello {user},</p>

<p>This email was sent to you upon your request to add your password! </p>
<p>You can add your password from <a href="{link}">here</a></p>
<p>If you didn't request to add your password just ignore this mail</p>
<br />
<p>Regards,</p>
<p>
  Resort Team
  <br/>
  Resort Solutions 
</p>