<p>Hello {user},</p>
<p>Your ID: {userId}</p>

<p>This email was sent to you upon your request to reset your password! </p>
<p>You can reset your password from <a href="{link}">here</a></p>
<p>If you didn't request to reset your password just ignore this mail</p>
<br />
<p>Regards,</p>
<p>
  Resort Team
  <br/>
  Resort Solutions
</p>