<p>Hello {user},</p>
<!--<p>Your account has been created successfully.</p>-->
<p>Your ID: {userId}</p>
<p>Please set your password from <a href="{link}">here</a> so you can access CIS! </p>
<br />
<p>Regards,</p>
<p>
  Resort Team
  <br/>
  Resort Solutions
</p>